{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<h2 class="page-title">Enregistrez toutes les informations nécessaires pour vous inscrire</h2>
<div class="form-box">
    <form method="post">
        <div>
            
            <label for="inputEmail" class="sr-only">Courriel</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <label for="inputNom" class="sr-only">Nom</label>
            <input name="nom" id="inputEmail" class="form-control" placeholder="nom" required>
            <label for="inputPrenom" class="sr-only">Prénom</label>
            <input name="prenom" id="inputPrenom" class="form-control" placeholder="prenom" required>
            <label for="inputPseudo" class="sr-only">Pseudonyme</label>
            <input name="pseudo" id="inputPseudo" class="form-control" placeholder="pseudo" required>
            <label for="inputTelephone" class="sr-only">Numéro de téléphone</label>
            <input name="telephone" id="inputTelephone" class="form-control" placeholder="telephone" required>
            <label for="site" class="sr-only">Site affilié</label>
            <select name="siteAffiliation" id="site" required>
                {% for site in sites %}
                    <option value={{site.idSite}}>{{site.nomSite}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-lg btn-primary" type="submit">
                S'inscrire
            </button>
        </div>
    </form>
</div>
{% endblock %}