<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All Sites</h1>

{% if sites is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom du site</th>
      <th>Lieu du site</th>
    </tr>
  </thead>
  <tbody>
  {% for site in sites %}
  <tr>
    <td>{{ site.nomSite }}</td>
    <td>{{ site.lieuxlieu.nomLieu}}    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No site found.</p>
{% endif %}