/*---------------------------------------
	TABLE OF CONTENT

	- RESET
	- FONT FACE
	- KEYFRAMES
	- BODY
	- HEADER
	- MAIN
	- FOOTER
	- MEDIA QUERIES

---------------------------------------*/

/*---------------------------------------
	- RESET
---------------------------------------*/
body, html, header, footer, main, section, article, aside, div, span, p, a, ul, ol, li, table, caption, tr, th, td, thead, tbody, tfoot, pre, code, h1, h2, h3, h4, h5, h6, img, figure, figcaption, audio, video, source, address, progress, form, fieldset, select, option, optgroup, label, input, textarea {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
}
/*---------------------------------------
	- COLORS
---------------------------------------*/
:root {
	--main-txt-color: #999;
	--main-txt-color-hover: #fff;
	--main-bg-color: #333;
	--element-color: #E68825;
}
/*---------------------------------------
	- FONT FACE
---------------------------------------*/
@font-face {
    font-family: 'munk';
    src: url("../fonts/munk5/Munk5Black.ttf");
}
@font-face {
    font-family: 'modern';
    src: url("../fonts/modernM/modernM.ttf");
}
/*---------------------------------------
	- KEYFRAMES
---------------------------------------*/
@keyframes backgroundslide {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 100% 100%;
	}
}
/*---------------------------------------
	- BODY
---------------------------------------*/
html {
	min-height: 100%;
}
body {
	min-height: 100vh;
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-family: 'modern';
	position: relative;
	overflow-x: hidden;
}
/*---------------------------------------
	- HEADER
---------------------------------------*/
header {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #484848;
	border-bottom: 2px solid var(--element-color);
	box-shadow: 0 0 1rem 0 #000;
	height: 7rem;
}
.header-block {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}
.logo-box {
	position: absolute;
	left: 4rem;
	top: 1rem;
	height: 10rem;
	transition: 0.3s;
}
.logo-box:hover {
	filter: drop-shadow(0 0.3rem 0.3rem rgba(255, 255, 255, 0.2));
	transition: 0.3s;
}
.logo-item {
	width: auto;
	height: 100%;
}
.header-nav {
	display: flex;
	width: 100%;
	align-items: flex-end;
}
#header-burger {
	z-index: 9090;
	display: none;
	position: absolute;
	transition: 0.3s;
	top: 0%;
	right: 71px;
	width: 100px;
	height: 80px;
	transition: 0.3s;
}
#header-burger:hover {
	filter: drop-shadow( 0 0.4rem 0.3rem rgba(255, 255, 255, 0.2));
	transition: 0.3s;
}
.burgerTriPath {
	fill: var(--element-color);
	transition: 0.3s;
}
#header-burger:hover .burgerTriPath {
	fill: #fff;
	transition: 0.3s;
}
#header-nav-box {
	display: flex;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	padding-top: 0rem;
	justify-content: flex-end;
	transform-origin: top right;
}
.header-nav-item {
	position: relative;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0.5rem 1rem;
	overflow: hidden;
}
.header-nav-link {
	z-index: 120;
	color: var(--element-color);
	font-size: 1.5rem;
	transition: 0.3s;
	align-self: flex-end;
}
.header-nav-tri {
	position: absolute;
	bottom: -4rem;
	width: 5rem;
	height: 4rem;
	background-image: url('../images/logo/SortirEnsembletri.png');
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.3s;
	z-index: 12;
}
.header-nav-item:hover .header-nav-tri {
	bottom: 0rem;
	transition: 0.3s;
}
.header-nav-item:hover .header-nav-link {
	color: #ddd;
	text-shadow: 0 0 0.2rem #000;
	transition: 0.3s;
}
/*---------------------------------------
	- MAIN
---------------------------------------*/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 7rem);
	padding: 5rem 8rem 6rem 8rem;
	background-image: url('../images/logo/dxfcg.png');
	animation: backgroundslide linear infinite 60s;
}
.page-title {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 2rem;
	text-align: center;
	color: var(--element-color);
}
.home-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.site-title {
	font-size: 5rem;
	color: var(--element-color);
	text-align: center;
	padding: 5rem;
}
/*---------------------------------------
	- form-box
---------------------------------------*/
.form-box form {
	background: rgba(75, 75, 75, 0.6);
	padding: 2rem;
	border-radius: 0.5rem;
	border-top: 2px solid var(--element-color);
	box-shadow: 0 0.2rem 0.5rem -0.2rem #000;
}
.form-box form div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-box form label {
	margin: 0.5rem 0;
}
.form-box form input, select {
	margin-bottom: 1rem;
	padding: 0.5rem;
	width: 15rem;
	border: none;
	border-radius: 0;
	box-shadow: inset 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.1);
}
.form-box form button {
	padding: 1rem 3rem;
	background: #333;
	font-size: 1.3rem;
	color: var(--element-color);
	transition: 0.3s;
	border: none;
	box-shadow: 0 0.3rem 0.5rem -0.2rem #000;
}
.form-box form button:hover {
	padding: 1rem 4rem;
	background: var(--element-color);
	color: #fff;
	text-shadow: 0 0 0.2rem #000;
	transition: 0.3s;
	box-shadow: 0 0.8rem 1rem -0.5rem #000;
}
.form-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 1rem;
}
#rememberMe, #rememberLabel {
	width: auto;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	transition: 0.3s;
}
#rememberLabel:hover {
	transition: 0.3s;
	color: #fff;
	text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.2);
}
.mdp {
	padding: 1rem;
	color: #777;
	font-style: italic;
	transition: 0.3s;
}
.mdp:hover {
	padding: 1rem;
	color: #fff;
	text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.2);
	transition: 0.3s;
}
/*---------------------------------------
	- list-box
---------------------------------------*/
.list-box {
	display: flex;
}
.list-box table {
	background: rgba(75, 75, 75, 0.6);
	padding: 2rem;
	border-radius: 0.5rem;
	border-top: 2px solid var(--element-color);
	box-shadow: 0 0.2rem 0.5rem -0.2rem #000;
}
.list-box thead {
	background: var(--element-color);
	padding: 0.5rem;
	font-size: 1.3rem;
	color: #333;
}
.list-box body {
	padding: 0.5rem;
}
.list-tr {
	background: rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
}
.list-tr:nth-child(even) {
	background: rgba(255, 255, 255, 0.1);
}
.list-box th, td {
	padding: 0.5rem 1rem;
	text-align: center;
}
.list-thead-th{
	background: var(--element-color);
	padding: 0.5rem;
	font-size: 1.3rem;
	color: #333;
	min-width: 7rem;
}
.list-link {
	margin: 1rem;
	padding: 0.5rem 2rem;
	background: #484848;
	color: #ddd;
	box-shadow: 0 0.3rem 0.5rem -0.2rem #000;
	transition: 0.3s;
}
.list-link:hover {
	padding: 0.5rem 3rem;
	background: var(--element-color);
	color: #fff;
	text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.2);
	box-shadow: 0 0.5rem 0.8rem -0.4rem #000;
	transition: 0.3s;
}
.list-button {
	font-family: arial, sans-serif;
	margin: 0.5rem;
	padding: 0 0.5rem 0.2rem 0.5rem;
	font-size: 1.5rem;
	background: #484848;
	color: #ddd;
	box-shadow: 0 0.3rem 0.5rem -0.2rem #000;
	transition: 0.3s;
}
.list-button:hover {
	background: var(--element-color);
	color: #fff;
	text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.2);
	box-shadow: 0 0.5rem 0.8rem -0.4rem #000;
	transition: 0.3s;
}
/*---------------------------------------
	- FOOTER
---------------------------------------*/
footer {
	position: absolute;
	bottom: 0rem;
	padding: 0 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 4rem;
	background-color: #484848;
	border-top: 2px solid var(--element-color);
	box-shadow: 0 0 1rem 0 #000;
}
footer p {
	color: #ddd;
}
/*---------------------------------------
	- MEDIA QUERIES
---------------------------------------*/
@media screen and (max-width: 1400px){
	
}
@media screen and (max-width: 1200px){
	
}
@media screen and (max-width: 1000px){
	#header-burger {
		display: block;
		transition: 0.3s;
	}
	#header-nav-box {
		position: absolute;
		top: 0%;
		right: 0;
		flex-direction: column;
		width: 15rem;
		height: auto;
		justify-content: center;
		transition: 0.3s;
		background: #484848;
		padding-top: 6rem;
		border-bottom: 2px solid var(--element-color);
		border-left: 2px solid var(--element-color);
		border-radius: 0 0 0 2rem;
		box-shadow: 0 0.5rem 0.8rem -0.4rem #000;
	}
	.header-nav-tri {
		bottom: -4rem;
		width: 3.5rem;
		height: 2.5rem;
	}
}
@media screen and (max-width: 800px){
	
}
@media screen and (max-width: 600px){

}