/*---------------------------------------
	TABLE OF CONTENT

	- RESET
	- FONT FACE
	- KEYFRAMES
	- BODY
	- HEADER
	- MAIN
	- FOOTER
	- MEDIA QUERIES

---------------------------------------*/

/*---------------------------------------
	- RESET
---------------------------------------*/
body, html, header, footer, main, section, article, aside, div, span, p, a, ul, ol, li, table, caption, tr, th, td, thead, tbody, tfoot, pre, code, h1, h2, h3, h4, h5, h6, img, figure, figcaption, audio, video, source, address, progress, form, fieldset, select, option, optgroup, label, input, textarea {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
}
/*---------------------------------------
	- COLORS
---------------------------------------*/
:root {
	--main-txt-color: #999;
	--main-txt-color-hover: #fff;
	--main-bg-color: #333;
	--element-color: #E68825;
}
/*---------------------------------------
	- FONT FACE
---------------------------------------*/
@font-face {
    font-family: 'munk';
    src: url("../fonts/munk5/Munk5Black.ttf");
}
@font-face {
    font-family: 'modern';
    src: url("../fonts/modernM/modernM.ttf");
}
/*---------------------------------------
	- KEYFRAMES
---------------------------------------*/
/*---------------------------------------
	- BODY
---------------------------------------*/
html {
	min-height: 100%;
}
body {
	min-height: 100vh;
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	font-family: 'modern';
	position: relative;
}
/*---------------------------------------
	- HEADER
---------------------------------------*/
header {
	display: flex;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid var(--element-color);
	box-shadow: 0 0 1rem 0 #000;
}
.logo-box {
	height: 10rem;
	padding: 1rem 4rem 0 4rem;
}
.logo-item {
	width: auto;
	height: 100%;
}
.header-nav {
	display: flex;
	width: 100%;
	align-items: flex-end;
}
.header-nav-box {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.header-nav-item {
	padding: 0.5rem 1rem;
}
.header-nav-link {
	color: #ddd;
	font-size: 1.5rem;
	transition: 0.3s;
}
.header-nav-link:hover {
	color: var(--element-color);
	text-shadow: 0 0 0.2rem #000;
	transition: 0.3s;
}
/*---------------------------------------
	- MAIN
---------------------------------------*/
main {
	display: flex;
	width: 100%;
	min-height: calc(100vh - 12rem);
	padding: 2rem 8rem 4rem 8rem;
	background-image: url('../images/logo/dxfcg.png');
}
/*---------------------------------------
	- FOOTER
---------------------------------------*/
footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-top: 2px solid var(--element-color);
	box-shadow: 0 0 1rem 0 #000;
}
footer p {
	color: #ddd;
}
/*---------------------------------------
	- MEDIA QUERIES
---------------------------------------*/
@media screen and (max-width: 1400px){
	
}
@media screen and (max-width: 1200px){
	
}
@media screen and (max-width: 1000px){
	
}
@media screen and (max-width: 800px){
	
}
@media screen and (max-width: 600px){

}