{% extends 'base.html.twig' %}

{% block title %}Enregistrez une ville{% endblock %}

{% block body %}
    <h2 class="page-title">Enregistrez une ville</h2>
    <h3 class="page-subtitle">Remplissez tout les champs obligatoires pour enregistrer une ville</h3>
	<div class="form-box">
		{{ form(form) }}
	</div>
{% endblock %}