<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All Villes</h1>

{% if villes is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom de la ville</th>
      <th>Code postal de la ville</th>
    </tr>
  </thead>
  <tbody>
  {% for ville in villes %}
  <tr>
    <td>{{ ville.nomVille }}</td>
    <td>{{ ville.codePostal}}    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No ville found.</p>
{% endif %}