{% extends 'base.html.twig' %}

{% block title %}Modification de ville{% endblock %}

{% block body %}
    <h2 class="page-title">Modification de ville</h2>
	<div class="form-box">
		{{ form(form) }}
	</div>
{% endblock %}