{# templates/create_sorties.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Création de sortie{% endblock %}

{% block body %}
    <h2 class="page-title">Création de sortie</h2>
	<div class="form-box">
		{{ form(form) }}
	</div>
{% endblock %}