<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sortir Ensemble | {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
    </head>
    <body>
    	{% include 'header.html.twig' %}
    	<main>
        	{% block body %}{% endblock %}
        </main>
        <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
        {% include 'footer.html.twig' %}
    </body>
</html>
