{% extends 'base.html.twig' %}

{% block title %}Création de lieu{% endblock %}

{% block body %}
	    <h2 class="page-title">Création de lieu</h2>
	    <div class="form-box">
	    	{{ form(form) }}
	    </div>
{% endblock %}
