{% extends 'base.html.twig' %}

{% block title %}Modification de Lieu{% endblock %}

{% block body %}
    <h2 class="page-title">Modification de lieu</h2>
    <p>Remplissez les champs pour modifier un lieu</p>
	<div class="form-box">
		{{ form(form) }}
	</div>
{% endblock %}