{% extends 'base.html.twig' %}

{% block title %}Modification de sortie{% endblock %}

{% block body %}
    <h2 class="page-title">Modification de sortie</h2>
    <p>Remplissez les champs pour modifier une sortie</p>
	<div class="form-box">
		{{ form(form) }}
	</div>
{% endblock %}