<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Sortie selected : User profile : $userData["username"]</h1>
<table>
  <tbody>
    <tr>
      <th>Pseudo</th>
    <td>$userData["username"]</td>
    </tr>
    <tr>
      <th>Prénom</th>
    <td>$userData["prenom"]</td>
    </tr>
    <tr>
      <th>Nom</th>
    <td>$userData["nom"]</td>
    </tr>
    <tr>
      <th>Téléphone</th>
    <td>$userData["tel"]</td>
    </tr>
    <tr>
      <th>Mail</th>
    <td>$userData["mail"]</td>
    </tr>
    <tr>
      <th>Site d'affiliation</th>
    <td>$userData["affi"]</td>
    </tr>
  </tbody>
</table>